@model IEnumerable<ChildrenWebApp.Models.Child>

@{
    ViewData["Title"] = "Index";
}

<h1>Children List</h1>

<p>
    <a asp-action="Create">Add a new child</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavoriteAnimals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsExported)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FavoriteAnimalsDisplay)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsExported)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-action="ExportToCsv">
    <button type="submit">Export All</button>
</form>
<form asp-action="ExportToCsv">
    <input type="hidden" name="onlyChanged" value="true" />
    <button type="submit">Export Only Edited</button>
</form>